Global-Variables-On-Node-Red/part2-with-text-to-speech.json
[{"id":"3f62355a.ef21aa","type":"inject","z":"7a36420f.45489c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["1a2cd85.92bc428"]]},{"id":"1a2cd85.92bc428","type":"function","z":"7a36420f.45489c","name":"Reset Game","func":"global.set('1isPressed',0);\nglobal.set('2isPressed',0);\nglobal.set('3isPressed',0);\nglobal.set('4isPressed',0);\n\nglobal.set('1',0);\nglobal.set('2',0);\nglobal.set('3',0);\nglobal.set('4',0);\n\nglobal.set('gameOver',0);\nglobal.set('numPressed',0);\n\nvar mine = Math.floor(Math.random() * 4 + 1);\nglobal.set(\"\"+mine,1);\nmsg.payload = mine;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["d1f13fde.91bf8"]]},{"id":"d1f13fde.91bf8","type":"debug","z":"7a36420f.45489c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":80,"wires":[]},{"id":"1002db81.9280a4","type":"inject","z":"7a36420f.45489c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["b1892651.afb888"]]},{"id":"9b91eeb5.29423","type":"inject","z":"7a36420f.45489c","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["b1892651.afb888"]]},{"id":"821b9013.8fa6","type":"inject","z":"7a36420f.45489c","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["b1892651.afb888"]]},{"id":"1b225a06.352e26","type":"inject","z":"7a36420f.45489c","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["b1892651.afb888"]]},{"id":"b1892651.afb888","type":"function","z":"7a36420f.45489c","name":"","func":"var gameState = global.get('gameOver');\nif(gameState === 1){\n    msg.payload = \"The Game is Over! Please Reset!\";\n     return msg;\n}\n\n\nvar pressed = msg.payload;\nvar check = global.get(pressed+\"isPressed\"); \n\n\nif(check === 0){ //has not been pressed\n    var press = global.get('numPressed');\n    global.set('numPressed',press+1);\n  \n    global.set(pressed+\"isPressed\",1);\n    \n    var isMine = global.get(\"\"+pressed);\n    if (isMine === 1){\n        msg.payload = \"Mineeeeeee!\";\n        global.set('gameOver',1);\n        return msg;\n    }else{\n        if(press < 1){ //2\n        msg.payload = \"You are fine, but you must press another button\";\n        }else{\n         msg.payload = \"You win!!!!!!!!!!!!!!!!!!\";   \n        }\n        return msg;\n    }\n    \n}\n\n","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["d1f13fde.91bf8","ff18913b.60c74"]]},{"id":"ff18913b.60c74","type":"switch","z":"7a36420f.45489c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Over","vt":"str"},{"t":"cont","v":"another","vt":"str"},{"t":"cont","v":"Mine","vt":"str"},{"t":"cont","v":"win","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":590,"y":240,"wires":[["3d20721e.27b9ce"],["27fef652.5eb74a"],["be46dff5.31e1f"],["e1adbe78.74739"],[]]},{"id":"3d20721e.27b9ce","type":"say","z":"7a36420f.45489c","name":"The game is over, please hit reset.","voice":"","x":910,"y":200,"wires":[[]]},{"id":"27fef652.5eb74a","type":"say","z":"7a36420f.45489c","name":"You are good, but please press another button","voice":"","x":940,"y":240,"wires":[[]]},{"id":"be46dff5.31e1f","type":"say","z":"7a36420f.45489c","name":"Boom","voice":"","x":810,"y":280,"wires":[[]]},{"id":"e1adbe78.74739","type":"say","z":"7a36420f.45489c","name":"You win!","voice":"","x":820,"y":320,"wires":[[]]}]
