Global-Variables-On-Node-Red/part1.json
[{"id":"c8614d89.c2194","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9f2ba77e.586b38","type":"inject","z":"c8614d89.c2194","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["f25220c5.15bb4"]]},{"id":"f25220c5.15bb4","type":"function","z":"c8614d89.c2194","name":"","func":"var a = 4;\nmsg.payload = a;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":60,"wires":[["c04256f0.eeecd8"]]},{"id":"c04256f0.eeecd8","type":"debug","z":"c8614d89.c2194","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":60,"wires":[]},{"id":"be16fa72.470658","type":"inject","z":"c8614d89.c2194","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["f9ca4601.1b7848"]]},{"id":"f9ca4601.1b7848","type":"function","z":"c8614d89.c2194","name":"","func":"var b = 10 + a;\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["6129504e.8a768"]]},{"id":"6129504e.8a768","type":"debug","z":"c8614d89.c2194","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":120,"wires":[]},{"id":"9af77677.3ad128","type":"inject","z":"c8614d89.c2194","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["1ff677ce.fc91e8"]]},{"id":"1ff677ce.fc91e8","type":"function","z":"c8614d89.c2194","name":"","func":"global.set('a',4);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["a6f7a248.46cb5"]]},{"id":"a6f7a248.46cb5","type":"debug","z":"c8614d89.c2194","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":240,"wires":[]},{"id":"b9bb1001.bb773","type":"inject","z":"c8614d89.c2194","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["1d7143e.357ccbc"]]},{"id":"1d7143e.357ccbc","type":"function","z":"c8614d89.c2194","name":"","func":"var a = global.get('a');\nvar b = 10 + a;\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["d4f788d9.62aa18"]]},{"id":"d4f788d9.62aa18","type":"debug","z":"c8614d89.c2194","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":300,"wires":[]},{"id":"860da857.c80ca8","type":"comment","z":"c8614d89.c2194","name":"This Doesn't Work","info":"","x":730,"y":80,"wires":[]},{"id":"5ba33fb6.437c9","type":"comment","z":"c8614d89.c2194","name":"This Works","info":"","x":700,"y":260,"wires":[]}]
