Global-Variables-On-Node-Red/part2.json
[{"id":"de21b0f1.09d24","type":"inject","z":"c8614d89.c2194","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["229d1fe3.7e05"]]},{"id":"229d1fe3.7e05","type":"function","z":"c8614d89.c2194","name":"Reset Game","func":"global.set('1isPressed',0);\nglobal.set('2isPressed',0);\nglobal.set('3isPressed',0);\nglobal.set('4isPressed',0);\n\nglobal.set('1',0);\nglobal.set('2',0);\nglobal.set('3',0);\nglobal.set('4',0);\n\nglobal.set('gameOver',0);\nglobal.set('numPressed',0);\n\nvar mine = Math.floor(Math.random() * 4 + 1);\nglobal.set(\"\"+mine,1);\nmsg.payload = mine;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["cb7ecae2.79d218"]]},{"id":"cb7ecae2.79d218","type":"debug","z":"c8614d89.c2194","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":80,"wires":[]},{"id":"58920348.b06ccc","type":"inject","z":"c8614d89.c2194","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["cfc6a53f.ab7c48"]]},{"id":"b38f7c39.696ea","type":"inject","z":"c8614d89.c2194","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["cfc6a53f.ab7c48"]]},{"id":"125291f3.8ce3ae","type":"inject","z":"c8614d89.c2194","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["cfc6a53f.ab7c48"]]},{"id":"eb4035f.c4c8ec8","type":"inject","z":"c8614d89.c2194","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["cfc6a53f.ab7c48"]]},{"id":"cfc6a53f.ab7c48","type":"function","z":"c8614d89.c2194","name":"","func":"var gameState = global.get('gameOver');\nif(gameState === 1){\n    msg.payload = \"The Game is Over! Please Reset!\";\n     return msg;\n}\n\n\nvar pressed = msg.payload;\nvar check = global.get(pressed+\"isPressed\");\n\n\nif(check === 0){ //has not been pressed\n    var press = global.get('numPressed');\n    global.set('numPressed',press+1);\n  \n    global.set(pressed+\"isPressed\",1);\n    \n    var isMine = global.get(\"\"+pressed);\n    if (isMine === 1){\n        msg.payload = \"Mineeeeeee!\";\n        global.set('gameOver',1);\n        return msg;\n    }else{\n        if(press < 1){\n        msg.payload = \"You are fine, but you must press another button\";\n        }else{\n         msg.payload = \"You win!!!!!!!!!!!!!!!!!!\";   \n        }\n        return msg;\n    }\n    \n}\n\n","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["cb7ecae2.79d218"]]}]
