5-Practical-Uses-For-Node-Red-On-Android/flow5.json
[{"id":"7a24a90f.8d5f28","type":"change","z":"41ca64f3.1d227c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"text\": \"Please speak your passphrase.\",     \"lang\": \"en-US\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["1112a9c1.8f7836"]]},{"id":"1112a9c1.8f7836","type":"text-to-speech","z":"41ca64f3.1d227c","name":"","x":540,"y":140,"wires":[["f31162f.349b2a"]]},{"id":"ceb30d0.ad1fff","type":"speech-to-text","z":"41ca64f3.1d227c","name":"","x":1100,"y":140,"wires":[["cc08934.94b6d7","3808c806.fe05f8"]]},{"id":"81c00d38.f1758","type":"change","z":"41ca64f3.1d227c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"language\": \"en-US\",     \"matches\": 5,     \"prompt\": \"please talk\",     \"showPopup\": true }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":140,"wires":[["ceb30d0.ad1fff"]]},{"id":"14d07534.e14c6b","type":"debug","z":"41ca64f3.1d227c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":460,"wires":[]},{"id":"cc08934.94b6d7","type":"switch","z":"41ca64f3.1d227c","name":"See if the word code is used","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"code","vt":"str"},{"t":"cont","v":"Code","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":240,"y":300,"wires":[["67e180c.188fb8"],["67e180c.188fb8"],["df9aca3a.71dab8"]]},{"id":"f31162f.349b2a","type":"delay","z":"41ca64f3.1d227c","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":140,"wires":[["81c00d38.f1758"]]},{"id":"67e180c.188fb8","type":"switch","z":"41ca64f3.1d227c","name":"Look for a valid trigger","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"yellow","vt":"str"},{"t":"cont","v":"Yellow","vt":"str"},{"t":"cont","v":"brown","vt":"str"},{"t":"cont","v":"Brown","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":560,"y":280,"wires":[["14d07534.e14c6b","f1c2e1d5.369cf"],["14d07534.e14c6b","f1c2e1d5.369cf"],["14d07534.e14c6b","9c16b6ae.505998"],["14d07534.e14c6b","9c16b6ae.505998"]]},{"id":"c4cc099b.413a28","type":"text-to-speech","z":"41ca64f3.1d227c","name":"Invalid Phrase","x":360,"y":360,"wires":[[]]},{"id":"df9aca3a.71dab8","type":"change","z":"41ca64f3.1d227c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"text\": \"Invalid phrase\",     \"lang\": \"en-US\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":360,"wires":[["c4cc099b.413a28"]]},{"id":"f1c2e1d5.369cf","type":"change","z":"41ca64f3.1d227c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"text\": \"Bathroom Unlocked.  Please don't forget to put the seat down when you are finished.\",     \"lang\": \"en-US\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":260,"wires":[["3b220a2b.b94b96"]]},{"id":"3b220a2b.b94b96","type":"text-to-speech","z":"41ca64f3.1d227c","name":"Code Yellow","x":1070,"y":260,"wires":[[]]},{"id":"9c16b6ae.505998","type":"change","z":"41ca64f3.1d227c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"text\": \"Please state your name\",     \"lang\": \"en-US\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":320,"wires":[["6134b98c.9f78a8"]]},{"id":"6134b98c.9f78a8","type":"text-to-speech","z":"41ca64f3.1d227c","name":"Request Name","x":1080,"y":320,"wires":[["efe0a225.95c67"]]},{"id":"efe0a225.95c67","type":"delay","z":"41ca64f3.1d227c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":380,"wires":[["47757393.fae95c"]]},{"id":"47757393.fae95c","type":"change","z":"41ca64f3.1d227c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"language\": \"en-US\",     \"matches\": 1,     \"prompt\": \"please talk\",     \"showPopup\": true }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":380,"wires":[["af412c0f.fa129"]]},{"id":"af412c0f.fa129","type":"speech-to-text","z":"41ca64f3.1d227c","name":"","x":1240,"y":380,"wires":[["14d07534.e14c6b","1f3be3ef.00549c","d5d87ccb.6ffda","47b9766f.59bec8"]]},{"id":"1f3be3ef.00549c","type":"http request","z":"41ca64f3.1d227c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.95.148/shop/sound.php?sound=attention","tls":"","proxy":"","authType":"","x":870,"y":460,"wires":[[]]},{"id":"d5d87ccb.6ffda","type":"delay","z":"41ca64f3.1d227c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":520,"wires":[["a5318edf.ffb7e"]]},{"id":"a5318edf.ffb7e","type":"mqtt out","z":"41ca64f3.1d227c","name":"","topic":"tts","qos":"0","retain":"false","broker":"c730a4d9.d64ec8","x":1030,"y":520,"wires":[]},{"id":"47b9766f.59bec8","type":"delay","z":"41ca64f3.1d227c","name":"","pauseType":"delay","timeout":"3.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":580,"wires":[["af1c969b.792258"]]},{"id":"af1c969b.792258","type":"http request","z":"41ca64f3.1d227c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.95.148/shop/sound.php?sound=brown","tls":"","proxy":"","authType":"","x":1070,"y":580,"wires":[[]]},{"id":"3808c806.fe05f8","type":"debug","z":"41ca64f3.1d227c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":220,"wires":[]},{"id":"c730a4d9.d64ec8","type":"mqtt-broker","z":"","name":"","broker":"192.168.95.225","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
