5-Practical-Uses-For-Node-Red-On-Android/flow3.json
[{"id":"525fadc.ed09b54","type":"inject","z":"41ca64f3.1d227c","name":"","topic":"","payload":"Start!","payloadType":"str","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":160,"wires":[["5eb0269c.f49da8","8516419f.405e9","8996e27f.65a39","74e394d6.9048ec","922b3e46.96f8d","2ae7328a.e2132e"]]},{"id":"8516419f.405e9","type":"light","z":"41ca64f3.1d227c","name":"","x":270,"y":140,"wires":[["b00c310d.67b71"]]},{"id":"5eb0269c.f49da8","type":"motion","z":"41ca64f3.1d227c","name":"","x":270,"y":200,"wires":[["402ce830.b73648","dc4f741.a551e88","9785b23.f67d85"]]},{"id":"8996e27f.65a39","type":"gyroscope","z":"41ca64f3.1d227c","name":"","x":290,"y":360,"wires":[["692313b6.3f448c","a5d3ab1a.5f8468","3ba68bef.710394"]]},{"id":"74e394d6.9048ec","type":"compass","z":"41ca64f3.1d227c","name":"","x":280,"y":540,"wires":[["a35dafcf.adb72"]]},{"id":"922b3e46.96f8d","type":"db","z":"41ca64f3.1d227c","name":"","x":270,"y":460,"wires":[["1767f923.edefd7"]]},{"id":"74d183e6.c5d6ec","type":"ui_gauge","z":"41ca64f3.1d227c","name":"","group":"c63627f1.5c7318","order":0,"width":0,"height":0,"gtype":"gage","title":"Light Intensity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":140,"wires":[]},{"id":"b00c310d.67b71","type":"function","z":"41ca64f3.1d227c","name":"","func":"msg.payload = msg.payload.intensity;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["74d183e6.c5d6ec"]]},{"id":"402ce830.b73648","type":"ui_text","z":"41ca64f3.1d227c","group":"9e66dc54.60929","order":1,"width":0,"height":0,"name":"","label":"Motion X (m/s^2)","format":"{{msg.payload.x}}","layout":"row-spread","x":490,"y":180,"wires":[]},{"id":"dc4f741.a551e88","type":"ui_text","z":"41ca64f3.1d227c","group":"9e66dc54.60929","order":1,"width":0,"height":0,"name":"","label":"Motion Y (m/s^2)","format":"{{msg.payload.y}}","layout":"row-spread","x":490,"y":220,"wires":[]},{"id":"9785b23.f67d85","type":"ui_text","z":"41ca64f3.1d227c","group":"9e66dc54.60929","order":1,"width":0,"height":0,"name":"","label":"Motion Z (m/s^2)","format":"{{msg.payload.z}}","layout":"row-spread","x":490,"y":260,"wires":[]},{"id":"692313b6.3f448c","type":"ui_text","z":"41ca64f3.1d227c","group":"9e66dc54.60929","order":1,"width":0,"height":0,"name":"","label":"Rotation X (rad/s)","format":"{{msg.payload.x}}","layout":"row-spread","x":490,"y":320,"wires":[]},{"id":"a5d3ab1a.5f8468","type":"ui_text","z":"41ca64f3.1d227c","group":"9e66dc54.60929","order":1,"width":0,"height":0,"name":"","label":"Rotation Y (rad/s)","format":"{{msg.payload.y}}","layout":"row-spread","x":490,"y":360,"wires":[]},{"id":"3ba68bef.710394","type":"ui_text","z":"41ca64f3.1d227c","group":"9e66dc54.60929","order":1,"width":0,"height":0,"name":"","label":"Rotation Z (rad/s)","format":"{{msg.payload.z}}","layout":"row-spread","x":490,"y":400,"wires":[]},{"id":"1767f923.edefd7","type":"function","z":"41ca64f3.1d227c","name":"","func":"var db = msg.payload.avg;\ndb = db-30;\ndb = db.toFixed(2);\nmsg.payload = db;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["ae7176b8.a8e948"]]},{"id":"ae7176b8.a8e948","type":"ui_gauge","z":"41ca64f3.1d227c","name":"","group":"c63627f1.5c7318","order":0,"width":0,"height":0,"gtype":"gage","title":"Sound Intensity","label":"dB","format":"{{value}}","min":0,"max":"100","colors":["#80ffff","#0273e3","#1205fc"],"seg1":"","seg2":"","x":630,"y":460,"wires":[]},{"id":"6d06207c.68f6b","type":"ui_text","z":"41ca64f3.1d227c","group":"9e66dc54.60929","order":1,"width":0,"height":0,"name":"","label":"Magnetic Heading","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":540,"wires":[]},{"id":"a35dafcf.adb72","type":"function","z":"41ca64f3.1d227c","name":"","func":"msg.payload = msg.payload.magneticHeading;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":540,"wires":[["6d06207c.68f6b"]]},{"id":"2ae7328a.e2132e","type":"battery","z":"41ca64f3.1d227c","name":"","x":270,"y":620,"wires":[["c2412236.2bc","7b3d40d6.81447"]]},{"id":"c2412236.2bc","type":"function","z":"41ca64f3.1d227c","name":"","func":"msg.payload = msg.payload.level;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["72efd830.2af678"]]},{"id":"72efd830.2af678","type":"ui_text","z":"41ca64f3.1d227c","group":"9e66dc54.60929","order":1,"width":0,"height":0,"name":"","label":"Battery Level","format":"{{msg.payload}}%","layout":"row-spread","x":650,"y":600,"wires":[]},{"id":"596e3384.79d33c","type":"ui_switch","z":"41ca64f3.1d227c","name":"","label":"Plugged in?","tooltip":"","group":"9e66dc54.60929","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":660,"wires":[[]]},{"id":"7b3d40d6.81447","type":"function","z":"41ca64f3.1d227c","name":"","func":"msg.payload = msg.payload.isPlugged;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":660,"wires":[["596e3384.79d33c"]]},{"id":"c63627f1.5c7318","type":"ui_group","z":"","name":"Gauge","tab":"6c42d8e.4926428","disp":true,"width":"6","collapse":false},{"id":"9e66dc54.60929","type":"ui_group","z":"","name":"Lab","tab":"6c42d8e.4926428","disp":true,"width":"7","collapse":false},{"id":"6c42d8e.4926428","type":"ui_tab","z":"","name":"Lab","icon":"fa-flask","disabled":false,"hidden":false}]
