youtube-notifier/youtube-notifier-node-red.json
[{"id":"972c24f0.5af958","type":"tab","label":"YouTube","disabled":false,"info":""},{"id":"48e2e332.d6bdfc","type":"feedparse","z":"972c24f0.5af958","name":"Gadget Reboot","url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCwiKHTegfDe33K5wnmyULog","interval":"5","x":100,"y":40,"wires":[["50fdb70c.258a08"]]},{"id":"75defd5d.26cfe4","type":"inject","z":"972c24f0.5af958","name":"Initial one time database table setup.","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE `videos` (   `id` int(11) UNSIGNED NOT NULL  PRIMARY KEY AUTO_INCREMENT,   `url` text NOT NULL) ENGINE=InnoDB DEFAULT CHARSET=latin1","payload":"1","payloadType":"str","x":200,"y":320,"wires":[["c9b663d7.21941"]]},{"id":"a098633b.a82f4","type":"debug","z":"972c24f0.5af958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":40,"wires":[]},{"id":"50fdb70c.258a08","type":"function","z":"972c24f0.5af958","name":"Is it in the DB Already?","func":"msg.url = msg.topic; //save this for later\nmsg.url = msg.url.replace(\"?\",\"0\");\nmsg.topic = \"SELECT COUNT(*) FROM videos WHERE url = '\"+msg.url+\"'\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":40,"wires":[["28b071f9.fd35ce"]]},{"id":"895e3121.358d6","type":"inject","z":"972c24f0.5af958","name":"Insert a sample video","props":[{"p":"payload","v":"1","vt":"str"},{"p":"topic","v":"INSERT INTO  videos (url) VALUES(\"https://www.youtube.com/watch?v=BJAWbfGap5w\");","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO  videos (url) VALUES(\"https://www.youtube.com/watch?v=BJAWbfGap5w\");","payload":"1","payloadType":"str","x":160,"y":400,"wires":[["c9b663d7.21941"]]},{"id":"84940688.e8bd48","type":"inject","z":"972c24f0.5af958","name":"See all data","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM videos","payload":"1","payloadType":"str","x":130,"y":440,"wires":[["c9b663d7.21941"]]},{"id":"ff9977e4.a6f398","type":"inject","z":"972c24f0.5af958","name":"Check if video exists","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT count(*) FROM videos WHERE url = \"1https://www.youtube.com/watch?v=BJAWbfGap5w\";","payload":"1","payloadType":"str","x":150,"y":480,"wires":[["c9b663d7.21941"]]},{"id":"89607b8a.07fe68","type":"function","z":"972c24f0.5af958","name":"Add It","func":"msg.payload = Object.values(msg.payload[0]);\nif(msg.payload[0] === 0){\n    // msg.payload = msg.url;\n    msg.topic = \"INSERT INTO  videos (url) VALUES('\"+msg.url+\"');\"\n    return msg;\n}else{\n  //do nothing\n}\n","outputs":1,"noerr":0,"x":710,"y":40,"wires":[["5075b86d.088b68"]]},{"id":"14e06a10.a37dc6","type":"inject","z":"972c24f0.5af958","name":"Empty TABLE ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TRUNCATE TABLE videos;","payload":"1","payloadType":"str","x":130,"y":360,"wires":[["c9b663d7.21941"]]},{"id":"28b071f9.fd35ce","type":"mysql","z":"972c24f0.5af958","mydb":"57a25406.9711fc","name":"","x":540,"y":40,"wires":[["89607b8a.07fe68"]]},{"id":"c9b663d7.21941","type":"mysql","z":"972c24f0.5af958","mydb":"57a25406.9711fc","name":"","x":500,"y":360,"wires":[[]]},{"id":"5075b86d.088b68","type":"mysql","z":"972c24f0.5af958","mydb":"57a25406.9711fc","name":"","x":900,"y":40,"wires":[["a098633b.a82f4","a9e3f5db.96e7a8"]]},{"id":"bc536f79.c6201","type":"inject","z":"972c24f0.5af958","name":"Turn light off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"https://www.youtube.com/wa2ch0v=2PQshVfjAx","payload":"1","payloadType":"str","x":870,"y":200,"wires":[["ebabb30a.87c41"]]},{"id":"a9e3f5db.96e7a8","type":"http request","z":"972c24f0.5af958","name":"Turn light on","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.95.125/light/on","tls":"","persist":false,"proxy":"","authType":"","x":1100,"y":140,"wires":[["da2990d7.e1284"]]},{"id":"da2990d7.e1284","type":"http response","z":"972c24f0.5af958","name":"","statusCode":"","headers":{},"x":1280,"y":140,"wires":[]},{"id":"ebabb30a.87c41","type":"http request","z":"972c24f0.5af958","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.95.125/light/off","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":200,"wires":[["34242d5d.9acd42"]]},{"id":"34242d5d.9acd42","type":"http response","z":"972c24f0.5af958","name":"","statusCode":"","headers":{},"x":1290,"y":200,"wires":[]},{"id":"ee401271.300f1","type":"inject","z":"972c24f0.5af958","name":"Insert Sample","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"https://www.youtube.com/wa2ch0v=2PQshVfjAx","payload":"1","payloadType":"str","x":130,"y":280,"wires":[["50fdb70c.258a08"]]},{"id":"c274dcd6.74ca2","type":"comment","z":"972c24f0.5af958","name":"Diagnostic/Setup Section","info":"","x":520,"y":320,"wires":[]},{"id":"57a25406.9711fc","type":"MySQLdatabase","name":"Node Red Database","host":"127.0.0.1","port":"3306","db":"node-red","tz":"","charset":""}]
