node-red-youtube-notifier/notifier.json
[{"id":"48e2e332.d6bdfc","type":"feedparse","z":"972c24f0.5af958","name":"Simple Electronics","url":"https://www.youtube.com/feeds/videos.xml?channel_id=UC3yasGCIt1rmKnZ8PukocSw","interval":"5","x":110,"y":40,"wires":[["50fdb70c.258a08"]]},{"id":"75defd5d.26cfe4","type":"inject","z":"972c24f0.5af958","name":"Initial one time database table setup.","topic":"CREATE TABLE `videos` (   `id` int(11) UNSIGNED NOT NULL  PRIMARY KEY AUTO_INCREMENT,   `url` text NOT NULL) ENGINE=InnoDB DEFAULT CHARSET=latin1","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["c9b663d7.21941"]]},{"id":"a098633b.a82f4","type":"debug","z":"972c24f0.5af958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":40,"wires":[]},{"id":"50fdb70c.258a08","type":"function","z":"972c24f0.5af958","name":"Is it in the DB Already?","func":"msg.url = msg.topic; //save this for later\nmsg.topic = \"SELECT COUNT(*) FROM videos WHERE url = '\"+msg.url+\"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":40,"wires":[["28b071f9.fd35ce"]]},{"id":"895e3121.358d6","type":"inject","z":"972c24f0.5af958","name":"Insert a sample video","topic":"INSERT INTO  videos (url) VALUES(\"https://www.youtube.com/watch?v=BJAWbfGap5w\");","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["c9b663d7.21941"]]},{"id":"84940688.e8bd48","type":"inject","z":"972c24f0.5af958","name":"See all data","topic":"SELECT * FROM videos","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["c9b663d7.21941"]]},{"id":"ff9977e4.a6f398","type":"inject","z":"972c24f0.5af958","name":"Check if video exists","topic":"SELECT count(*) FROM videos WHERE url = \"1https://www.youtube.com/watch?v=BJAWbfGap5w\";","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["c9b663d7.21941"]]},{"id":"8303cb64.e036b8","type":"debug","z":"972c24f0.5af958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":160,"wires":[]},{"id":"89607b8a.07fe68","type":"function","z":"972c24f0.5af958","name":"Add It","func":"msg.payload = Object.values(msg.payload[0]);\nif(msg.payload[0] === 0){\n    // msg.payload = msg.url;\n    msg.topic = \"INSERT INTO  videos (url) VALUES('\"+msg.url+\"');\"\n    return msg;\n}else{\n  //do nothing\n}\n","outputs":1,"noerr":0,"x":710,"y":40,"wires":[["5075b86d.088b68"]]},{"id":"14e06a10.a37dc6","type":"inject","z":"972c24f0.5af958","name":"DROP TABLE ","topic":"DROP TABLE videos;","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["c9b663d7.21941"]]},{"id":"28b071f9.fd35ce","type":"mysql","z":"972c24f0.5af958","mydb":"57a25406.9711fc","name":"","x":540,"y":40,"wires":[["89607b8a.07fe68"]]},{"id":"c9b663d7.21941","type":"mysql","z":"972c24f0.5af958","mydb":"57a25406.9711fc","name":"","x":480,"y":160,"wires":[["8303cb64.e036b8"]]},{"id":"5075b86d.088b68","type":"mysql","z":"972c24f0.5af958","mydb":"57a25406.9711fc","name":"","x":900,"y":40,"wires":[["a098633b.a82f4"]]},{"id":"57a25406.9711fc","type":"MySQLdatabase","z":"","name":"Node Red Database","host":"localhost","port":"3306","db":"node-red","tz":""}]
