ecom-pi-camera/node-red-sketch.json
[{"id":"c7e2ab94.ee2a88","type":"inject","z":"403b0725.323af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["d9e8191b.15cd98"]]},{"id":"73cf0280.1a180c","type":"exec","z":"403b0725.323af8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":200,"wires":[["7773dfcf.cfbf2"],[],[]]},{"id":"d9e8191b.15cd98","type":"function","z":"403b0725.323af8","name":"","func":"var ts = msg.payload;\nmsg.payload = \"gst-launch-1.0 v4l2src num-buffers=1 ! video/x-raw ,width=4192, height=3120 ! jpegenc ! filesink location=/home/pi/\"+ts+\".jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["73cf0280.1a180c"]]},{"id":"7773dfcf.cfbf2","type":"debug","z":"403b0725.323af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":240,"wires":[]},{"id":"e6296267.72aa3","type":"inject","z":"403b0725.323af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["f38b93ee.b27b6"]]},{"id":"e2f1f0a3.84ef3","type":"debug","z":"403b0725.323af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":440,"wires":[]},{"id":"f38b93ee.b27b6","type":"function","z":"403b0725.323af8","name":"","func":"msg.filepath = \"/home/pi/\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":440,"wires":[["556b3bcd.6e8864"]]},{"id":"556b3bcd.6e8864","type":"camerapi-takephoto","z":"403b0725.323af8","filemode":"1","filename":"test2.jpg","filedefpath":"0","filepath":"/home/pi","fileformat":"jpeg","resolution":"8","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":460,"y":440,"wires":[["e2f1f0a3.84ef3"]]}]
