node-red-christmas-tree/basic_outputs.json
[
    {
        "id": "b82c16accef7f020",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "845286371196488c",
        "type": "rpi-gpio out",
        "z": "b82c16accef7f020",
        "name": "5 - Green",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "7db102134b2efcd3",
        "type": "rpi-gpio out",
        "z": "b82c16accef7f020",
        "name": "6 - Green Top",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 900,
        "y": 20,
        "wires": []
    },
    {
        "id": "75032d43cc0616f8",
        "type": "rpi-gpio out",
        "z": "b82c16accef7f020",
        "name": "9 - Red",
        "pin": "9",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd452a6ef215f65d",
        "type": "rpi-gpio out",
        "z": "b82c16accef7f020",
        "name": "11 - Red",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "0c5de003127f8063",
        "type": "rpi-gpio out",
        "z": "b82c16accef7f020",
        "name": "12 - Green",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd970e61f137139b",
        "type": "rpi-gpio out",
        "z": "b82c16accef7f020",
        "name": "13 - Red",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 480,
        "wires": []
    },
    {
        "id": "786f37021f803a48",
        "type": "rpi-gpio out",
        "z": "b82c16accef7f020",
        "name": "19 - Green",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "12167f02bcc1c7a5",
        "type": "rpi-gpio out",
        "z": "b82c16accef7f020",
        "name": "16 - Red",
        "pin": "16",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "4cb8ccaba281900f",
        "type": "rpi-gpio out",
        "z": "b82c16accef7f020",
        "name": "26 - Red",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "8a9f78289c2ece47",
        "type": "inject",
        "z": "b82c16accef7f020",
        "name": "On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "233145c4825503f7",
        "type": "trigger",
        "z": "b82c16accef7f020",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "75032d43cc0616f8",
                "fd452a6ef215f65d",
                "fd970e61f137139b",
                "12167f02bcc1c7a5",
                "4cb8ccaba281900f"
            ]
        ]
    },
    {
        "id": "3954846b2aa285c4",
        "type": "trigger",
        "z": "b82c16accef7f020",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 80,
        "wires": [
            [
                "7db102134b2efcd3",
                "0c5de003127f8063",
                "786f37021f803a48",
                "845286371196488c"
            ]
        ]
    },
    {
        "id": "dd102db4155e5b1e",
        "type": "random",
        "z": "b82c16accef7f020",
        "name": "",
        "low": 1,
        "high": "3",
        "inte": "true",
        "property": "payload",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "3b0a7d5f1227c8f1",
                "3bd2df4a629db4fd"
            ]
        ]
    },
    {
        "id": "3b0a7d5f1227c8f1",
        "type": "switch",
        "z": "b82c16accef7f020",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "3954846b2aa285c4"
            ],
            [
                "233145c4825503f7"
            ],
            [
                "3954846b2aa285c4",
                "233145c4825503f7"
            ]
        ]
    },
    {
        "id": "3bd2df4a629db4fd",
        "type": "debug",
        "z": "b82c16accef7f020",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "41b9d3ab1411547b",
        "type": "rpi-gpio in",
        "z": "b82c16accef7f020",
        "name": "Button",
        "pin": "22",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "d5b7172cc7106e62"
            ]
        ]
    },
    {
        "id": "d5b7172cc7106e62",
        "type": "debug",
        "z": "b82c16accef7f020",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 560,
        "wires": []
    }
]
