StreamArray/node-red-flow.json
[{"id":"7ae30b2d.16f864","type":"tab","label":"StreamArray","disabled":false,"info":""},{"id":"77b04dc8.f9d494","type":"serial in","z":"7ae30b2d.16f864","name":"","serial":"bb06798a.540668","x":90,"y":220,"wires":[["a378b612.061f18","5a90ed2a.474e54"]]},{"id":"a378b612.061f18","type":"switch","z":"7ae30b2d.16f864","name":"Parsing a ton of serial data","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"touch=true","vt":"str"},{"t":"cont","v":"pb=true","vt":"str"},{"t":"cont","v":"hum=true","vt":"str"},{"t":"cont","v":"sound=true","vt":"str"},{"t":"cont","v":"fire=true","vt":"str"},{"t":"cont","v":"slider=true","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":320,"y":220,"wires":[["880a62e.26df7a"],["217690d3.7dc57"],["7e670dd0.754f94"],["6182b420.0a3ddc"],["26e28567.ed85ea"],["d6a8ed6d.f1c2d"]]},{"id":"bee27c46.7a948","type":"exec","z":"7ae30b2d.16f864","command":"calc.exe","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run the calculator Touchpad","x":820,"y":40,"wires":[[],[],[]]},{"id":"880a62e.26df7a","type":"throttle","z":"7ae30b2d.16f864","name":"Rate Limit","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":580,"y":40,"wires":[["bee27c46.7a948"]]},{"id":"7e670dd0.754f94","type":"throttle","z":"7ae30b2d.16f864","name":"Rate Limit","throttleType":"time","timeLimit":"1","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":580,"y":160,"wires":[["234188ca.d93e68"]]},{"id":"234188ca.d93e68","type":"exec","z":"7ae30b2d.16f864","command":"C:\\xampp\\htdocs\\AnotherMaker\\StreamArray\\scripts\\reddit.cmd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reddit - Humidity","x":790,"y":160,"wires":[[],[],[]]},{"id":"7375ba6f.486314","type":"exec","z":"7ae30b2d.16f864","command":"C:\\progra~2\\Audacity\\audacity.exe","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Audacity - Sound","x":790,"y":220,"wires":[[],[],[]]},{"id":"6182b420.0a3ddc","type":"throttle","z":"7ae30b2d.16f864","name":"Rate Limit","throttleType":"time","timeLimit":"1","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":580,"y":220,"wires":[["7375ba6f.486314"]]},{"id":"5a90ed2a.474e54","type":"debug","z":"7ae30b2d.16f864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":130,"y":300,"wires":[]},{"id":"26e28567.ed85ea","type":"throttle","z":"7ae30b2d.16f864","name":"Rate Limit","throttleType":"time","timeLimit":"1","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":580,"y":280,"wires":[["702d00dc.d5676"]]},{"id":"702d00dc.d5676","type":"exec","z":"7ae30b2d.16f864","command":"C:\\xampp\\htdocs\\AnotherMaker\\StreamArray\\scripts\\subscribe.cmd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"AnotherMaker - Fire","x":800,"y":280,"wires":[[],[],[]]},{"id":"217690d3.7dc57","type":"throttle","z":"7ae30b2d.16f864","name":"Rate Limit","throttleType":"time","timeLimit":"1","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":580,"y":100,"wires":[["484422c6.e38d3c"]]},{"id":"484422c6.e38d3c","type":"exec","z":"7ae30b2d.16f864","command":"wscript C:\\xampp\\htdocs\\AnotherMaker\\StreamArray\\scripts\\dangerous.vbs","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Dangerous VB Script","x":800,"y":100,"wires":[[],[],[]]},{"id":"d6a8ed6d.f1c2d","type":"Message Counter","z":"7ae30b2d.16f864","name":"Look for continuious motion","units":"seconds","interval":"10","alignToClock":true,"generator":"internal","x":500,"y":340,"wires":[["8aa6119.bf0edf"],[]]},{"id":"8aa6119.bf0edf","type":"switch","z":"7ae30b2d.16f864","name":"Count Fidgets","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":340,"wires":[["d17940cf.83312"]]},{"id":"d17940cf.83312","type":"exec","z":"7ae30b2d.16f864","command":"C:\\xampp\\htdocs\\AnotherMaker\\StreamArray\\scripts\\fidget.cmd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reddit - Humidity","x":930,"y":340,"wires":[[],[],[]]},{"id":"4575f7e7.e78a78","type":"inject","z":"7ae30b2d.16f864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["d6a8ed6d.f1c2d"]]},{"id":"bb06798a.540668","type":"serial-port","z":"","serialport":"COM37","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]
