smart-doorbell/03-node-red-flow-for-rev-02.json
[{"id":"70252407.d973cc","type":"mqtt in","z":"88c0995e.f8b8a8","name":"","topic":"doorBell/#","qos":"2","broker":"8dc65e14.4410a","x":120,"y":80,"wires":[["f8be5447.f6cc78","ab6cd8a7.66c648"]]},{"id":"ab6cd8a7.66c648","type":"debug","z":"88c0995e.f8b8a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":120,"wires":[]},{"id":"f8be5447.f6cc78","type":"switch","z":"88c0995e.f8b8a8","name":"Parse Data From DoorBellDuino","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"DingDong","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":80,"wires":[["b509d736.279d78","b0bea7.c3866158"]]},{"id":"b0bea7.c3866158","type":"http request","z":"88c0995e.f8b8a8","name":"","method":"POST","ret":"txt","url":"http://192.168.95.198/hda/pick/sound.php?sound=hit","tls":"","x":990,"y":80,"wires":[["d4a92659.7ab848"]]},{"id":"d4a92659.7ab848","type":"http response","z":"88c0995e.f8b8a8","name":"","statusCode":"","headers":{},"x":1170,"y":80,"wires":[]},{"id":"8e8d0cb5.9b6fd","type":"comment","z":"88c0995e.f8b8a8","name":"Please Read","info":"There are TONS of different ways to play \nsounds on Node-Red.  I just happen to have a php \nserver setup for this purpose.\n\nPushover is super simple.  It's a $5 one time fee \nto register all your android or ios devices. That\nwill get you a user key.\n\nThen you have to create an \"application\"\non their api screen.  Simply give it a name\nand you can have 7,500 free notifications per month.","x":990,"y":140,"wires":[]},{"id":"b509d736.279d78","type":"pushover","z":"88c0995e.f8b8a8","name":"","device":"","title":"","priority":0,"sound":"updown","url":"","url_title":"","html":false,"x":720,"y":140,"wires":[]},{"id":"8dc65e14.4410a","type":"mqtt-broker","z":"","name":"","broker":"192.168.95.8","port":"1883","tls":"4ffff0c6.7f83a","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ffff0c6.7f83a","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]
