api-calls/nr-relay.json
[{"id":"6c691f7e.493ed","type":"http request","z":"a07a4fc2.1d4ae","name":"","method":"POST","ret":"obj","url":"https://api.openweathermap.org/data/2.5/forecast?id=5128581&APPID=YOURkeyHERE&units=imperial","tls":"","x":370,"y":80,"wires":[["c14c91a9.8e4fb"]]},{"id":"8f892324.a5987","type":"debug","z":"a07a4fc2.1d4ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":80,"wires":[]},{"id":"c14c91a9.8e4fb","type":"function","z":"a07a4fc2.1d4ae","name":"","func":"var merge = function(objects) {\n  var out = {};\n\n  for (var i = 0; i < objects.length; i++) {\n    for (var p in objects[i]) {\n      out[p] = objects[i][p];\n    }\n  }\n\n  return out;\n}\n\nvar flatten = function(obj, name, stem) {\n  var out = {};\n  var newStem = (typeof stem !== 'undefined' && stem !== '') ? stem + '_' + name : name;\n\n  if (typeof obj !== 'object') {\n    out[newStem] = obj;\n    return out;\n  }\n\n  for (var p in obj) {\n    var prop = flatten(obj[p], p, newStem);\n    out = merge([out, prop]);\n  }\n\n  return out;\n};\nvar data = flatten(msg.payload);\nvar code = {};\ncode.temp = data.list_0_main_temp;\ncode.weather = data.list_0_weather_0_description;\ncode.humidity = data.list_1_main_humidity;\nmsg.payload = JSON.stringify(code);\n// msg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["8f892324.a5987","72cdb26f.cfcefc"]]},{"id":"65f5b5dc.97cb6c","type":"http in","z":"a07a4fc2.1d4ae","name":"","url":"/apiCalls","method":"get","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["6c691f7e.493ed"]]},{"id":"72cdb26f.cfcefc","type":"http response","z":"a07a4fc2.1d4ae","name":"","statusCode":"200","headers":{},"x":920,"y":160,"wires":[]},{"id":"1fd5387c.0c28c8","type":"inject","z":"a07a4fc2.1d4ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["6c691f7e.493ed"]]}]
