laser-shooting-gallery/Node-Red-Flow-Scoreboard.json
[{"id":"b23f9299.43f85","type":"inject","z":"37023e45.38a202","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["b16171be.29469","3502e08c.3379b","d3c4fd59.21d33"]]},{"id":"7e22c3cb.dc53fc","type":"mqtt out","z":"37023e45.38a202","name":"","topic":"shooting/whodere","qos":"0","retain":"","broker":"8dc65e14.4410a","x":550,"y":20,"wires":[]},{"id":"df8575dd.b40668","type":"mqtt in","z":"37023e45.38a202","name":"Units Check In","topic":"shooting/response","qos":"0","broker":"8dc65e14.4410a","x":120,"y":540,"wires":[["b5db9232.529dc"]]},{"id":"b60b2b8e.370da8","type":"mqtt in","z":"37023e45.38a202","name":"","topic":"shooting/hit/#","qos":"0","broker":"8dc65e14.4410a","x":1430,"y":40,"wires":[["a072cb7d.0d1e48","e8ace81e.5d9628"]]},{"id":"7b8dace2.d5f434","type":"debug","z":"37023e45.38a202","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1810,"y":40,"wires":[]},{"id":"b16171be.29469","type":"function","z":"37023e45.38a202","name":"Game Setup","func":"var startIp = 60;\nvar stopIp = 66;\nvar gameData  = {};   //Create a place to store your game data\nfor (var i = startIp; i <= stopIp; i++) {\n  var initial = [0,'click,mp3','boom.mp3'];\n    gameData[i] = initial;\n}\n\nglobal.set('startIp',startIp);   //What is the Lowest IP you have ever assigned for the game\nglobal.set('stopIp',stopIp);   //What is the highest IP you have ever assigned for the game\nglobal.set('minTime',1500); //The minimum amount of time to activate a target\nglobal.set('maxTime',7500); //These ar in ms\nglobal.set('gameTime',120) ;  //In seconds\nglobal.set('score',0);    //how many targets have been hit\nglobal.set('shown',0);    // how many targets have been shown\nglobal.set('lastTarget',0); //for internal use\n\nmsg.payload = 1; //this is what the arduinos look for to check in\nglobal.set('gameData',gameData);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":20,"wires":[["34abc25c.3c3bde","7e22c3cb.dc53fc","6b32a7ba.177698","5aaae7a2.233408"]]},{"id":"34abc25c.3c3bde","type":"debug","z":"37023e45.38a202","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":20,"wires":[]},{"id":"b5db9232.529dc","type":"function","z":"37023e45.38a202","name":"Get Saved Data","func":"var incoming = msg.payload.split(\"|\");\nvar gameData  = global.get('gameData');\nvar arduino = parseInt(incoming[0]);\n\ngameData[arduino] = [1,incoming[1],incoming[2]];\nglobal.set('gameData',gameData);\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["9ca7ae72.1662a"]]},{"id":"9ca7ae72.1662a","type":"debug","z":"37023e45.38a202","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":540,"wires":[]},{"id":"bf089030.43bac","type":"ui_text","z":"37023e45.38a202","group":"cda1daea.2bec28","order":1,"width":"8","height":"3","name":"Current Time","label":"Timer","format":"  <font size=\"+75\">{{msg.payload}}","layout":"col-center","x":1190,"y":420,"wires":[]},{"id":"cfbe769d.d70278","type":"switch","z":"37023e45.38a202","name":"Timer Switch Statement","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"stop","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":688.9999313354492,"y":334.2000036239624,"wires":[["3ec00f89.038ae"],["bb890b25.f99b28"]]},{"id":"3502e08c.3379b","type":"function","z":"37023e45.38a202","name":"Reset Function","func":"msg.reset = true;\nvar stop = global.set(\"stop\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":473.99991607666016,"y":482.60002040863037,"wires":[["ed8efa0.b8d6608"]]},{"id":"f439b81d.166cf8","type":"inject","z":"37023e45.38a202","name":"Reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":460,"wires":[["3502e08c.3379b","d3c4fd59.21d33","5aaae7a2.233408"]]},{"id":"ed8efa0.b8d6608","type":"function","z":"37023e45.38a202","name":"Reset Final","func":"var newMsg = { payload: msg.payload.length };\n\nmath = 0;\n\nnewMsg.payload = math;\nreturn newMsg;","outputs":1,"noerr":0,"x":702.6998977661133,"y":481.39995861053467,"wires":[["bf089030.43bac"]]},{"id":"3ec00f89.038ae","type":"function","z":"37023e45.38a202","name":"Major Math Going on Here","func":"var newMsg = { payload: msg.payload.length };\nvar time = global.get(\"finalTime\");  \nvar major = global.get(\"majors\");\nvar minor = global.get(\"minors\");\nvar stop = global.get(\"stop\");\nvar time = time * 1; //force to number\nvar major = 30 * major;\nvar minor = 10 * minor;\nvar math = time + major + minor;\nvar  h = 0;\nvar  m = 0;\nvar  s = 0;\nvar  t = math;\n  \ns = t % 60;\nt = (t - s)/60;\nm = t % 60;\nt = (t - m)/60;\nh = t;\nmath = h+\"h \"+m+\"m \"+s+\"s\";\n\nnewMsg.payload = math;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1120.9999923706055,"y":319.0000286102295,"wires":[[]]},{"id":"23c80e28.7e2452","type":"inject","z":"37023e45.38a202","name":"StartTimer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":20,"wires":[["b16171be.29469"]]},{"id":"a91d9568.8216f8","type":"looptimer","z":"37023e45.38a202","duration":".5","units":"Second","maxloops":"99999999","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":300,"y":140,"wires":[["3fbc313.583e6ce"],[]]},{"id":"3fbc313.583e6ce","type":"counter","z":"37023e45.38a202","name":"","init":"0","step":".5","lower":"","upper":"","mode":"increment","outputs":"1","x":500,"y":120,"wires":[["85297e60.19d12"]]},{"id":"85297e60.19d12","type":"function","z":"37023e45.38a202","name":"getCount","func":"var newMsg = {payload:msg.count};\nvar timer = newMsg.payload;\nvar time = global.set(\"finalTime\", timer); \nreturn newMsg;","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["cfbe769d.d70278","e02191b1.ba97a"]]},{"id":"fa9770f8.90868","type":"inject","z":"37023e45.38a202","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":380,"wires":[["a91d9568.8216f8","4b9a6048.63aa"]]},{"id":"d3c4fd59.21d33","type":"function","z":"37023e45.38a202","name":"Reset Time","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":471.9999351501465,"y":439.5999803543091,"wires":[["3fbc313.583e6ce"]]},{"id":"bb890b25.f99b28","type":"function","z":"37023e45.38a202","name":"forceTWO","func":"var time = msg.payload;\nmsg.payload = (Math.floor(time*100)/100).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":904.0999946594238,"y":396.20000171661377,"wires":[["bf089030.43bac"]]},{"id":"4b9a6048.63aa","type":"function","z":"37023e45.38a202","name":"stop","func":"var stop = global.set(\"stop\", 1);\nreturn msg;","outputs":1,"noerr":0,"x":265.09992599487305,"y":340.19999980926514,"wires":[["cfbe769d.d70278"]]},{"id":"e02191b1.ba97a","type":"function","z":"37023e45.38a202","name":"","func":"var endTime = global.get('gameTime') ;  //In seconds\n\nif(msg.payload >= endTime){\n    global.set('stop',1);\n    msg.payload = \"stop\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["a91d9568.8216f8"]]},{"id":"6b32a7ba.177698","type":"delay","z":"37023e45.38a202","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":80,"wires":[["a91d9568.8216f8","e8ace81e.5d9628"]]},{"id":"2ff53f1d.0e037","type":"ui_text","z":"37023e45.38a202","group":"cda1daea.2bec28","order":1,"width":"8","height":"3","name":"Targets Hit","label":"Targets Hit","format":"  <font size=\"+75\">{{msg.payload}}","layout":"col-center","x":1810,"y":80,"wires":[]},{"id":"a072cb7d.0d1e48","type":"function","z":"37023e45.38a202","name":"","func":"var stop = global.get('stop');\nif(stop === 0){ //don't look for input if the game has been stopped!\nvar score = global.get('score');    //how many targets have been hit\nscore = score + 1;\nglobal.set('score',score);\nmsg.payload = score;\nreturn msg;\n}","outputs":1,"noerr":0,"x":1610,"y":40,"wires":[["2ff53f1d.0e037"]]},{"id":"5aaae7a2.233408","type":"change","z":"37023e45.38a202","name":"Set Zeros","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":120,"wires":[["2ff53f1d.0e037","ad9a52e8.ff426"]]},{"id":"55fc406b.d8f4","type":"function","z":"37023e45.38a202","name":"","func":"var stop = global.get('stop');\nif(stop === 0){ //don't look for input if the game has been stopped!\nvar shown = global.get('shown');    //how many targets have been hit\nshown = shown + 1;\nglobal.set('shown',shown);\nmsg.payload = shown;\nreturn msg;\n}","outputs":1,"noerr":0,"x":1630,"y":120,"wires":[["ad9a52e8.ff426"]]},{"id":"8c30101a.e2c2c","type":"debug","z":"37023e45.38a202","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1810,"y":140,"wires":[]},{"id":"ad9a52e8.ff426","type":"ui_text","z":"37023e45.38a202","group":"cda1daea.2bec28","order":1,"width":"8","height":"3","name":"Targets Shown","label":"Targets Shown","format":"  <font size=\"+75\">{{msg.payload}}","layout":"col-center","x":1820,"y":180,"wires":[]},{"id":"e8ace81e.5d9628","type":"function","z":"37023e45.38a202","name":"Show Another Target","func":"var stop = global.get('stop');\nif(stop === 0){\nvar gameData = global.get('gameData');\nvar startIp = global.get('startIp');\nvar stopIp = global.get('stopIp');\nvar lastTarget = global.get('lastTarget');\n\nvar avail = [];\nfor (var i = startIp; i <= stopIp; i++) {\n\tif(gameData[i][0] === 1 && i != lastTarget){\n\t\tavail.push(i);\n}\n}\n\nvar random = getRandomInt(0, avail.length-1);\nglobal.set('lastTarget',avail[random]);\nmsg.topic = \"shooting/activate\"+avail[random];\nmsg.payload = getRandomInt(global.get('minTime'),global.get('maxTime'));\nreturn msg;\n}\n\nfunction getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}","outputs":1,"noerr":0,"x":1480,"y":500,"wires":[["55fc406b.d8f4","d76fc8ae.f605c8","8c30101a.e2c2c"]]},{"id":"4813f2a3.65980c","type":"mqtt in","z":"37023e45.38a202","name":"","topic":"shooting/miss/#","qos":"0","broker":"8dc65e14.4410a","x":1140,"y":40,"wires":[["e8ace81e.5d9628"]]},{"id":"d76fc8ae.f605c8","type":"mqtt out","z":"37023e45.38a202","name":"Turn on new target","topic":"","qos":"0","retain":"","broker":"8dc65e14.4410a","x":1810,"y":240,"wires":[]},{"id":"495d28dd.560578","type":"ui_button","z":"37023e45.38a202","name":"","group":"280e4655.07cc1a","order":7,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":70,"y":80,"wires":[["b16171be.29469"]]},{"id":"efc55d3f.ef29f","type":"ui_button","z":"37023e45.38a202","name":"","group":"3d3311aa.aa417e","order":7,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":70,"y":120,"wires":[["4b9a6048.63aa"]]},{"id":"5cc89fca.78993","type":"ui_button","z":"37023e45.38a202","name":"","group":"3d3311aa.aa417e","order":7,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":70,"y":160,"wires":[["3502e08c.3379b","d3c4fd59.21d33"]]},{"id":"8dc65e14.4410a","type":"mqtt-broker","z":"","name":"","broker":"192.168.95.8","port":"1883","tls":"4ffff0c6.7f83a","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cda1daea.2bec28","type":"ui_group","z":"","name":"Timer","tab":"33ffca53.797a86","order":1,"disp":true,"width":"8","collapse":false},{"id":"280e4655.07cc1a","type":"ui_group","z":"","name":"Final Score","tab":"33ffca53.797a86","order":2,"disp":true,"width":"7"},{"id":"3d3311aa.aa417e","type":"ui_group","z":"","name":"SG Controls","tab":"33ffca53.797a86","disp":true,"width":"6","collapse":false},{"id":"4ffff0c6.7f83a","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"33ffca53.797a86","type":"ui_tab","z":"","name":"Shooting Gallery","icon":"dashboard","disabled":false,"hidden":false}]
