StreamArray/simple_version/node-red.json
[{"id":"c6a69a12.f92768","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"c09073ba.a5022","type":"serial in","z":"c6a69a12.f92768","name":"","serial":"8a1b1313.ec6c1","x":180,"y":140,"wires":[["c3d389ce.f94e08"]]},{"id":"f6cf6928.d2f2f8","type":"debug","z":"c6a69a12.f92768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":380,"wires":[]},{"id":"c3d389ce.f94e08","type":"switch","z":"c6a69a12.f92768","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"blue=true","vt":"str"},{"t":"cont","v":"white=true","vt":"str"},{"t":"cont","v":"yellow=true","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":140,"wires":[["ab8a83ab.f216"],["754876d7.2b5078"],["51d1577a.ad9038"]]},{"id":"ab8a83ab.f216","type":"throttle","z":"c6a69a12.f92768","name":"","throttleType":"time","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":550,"y":140,"wires":[["33620929.ce0516"]]},{"id":"33620929.ce0516","type":"exec","z":"c6a69a12.f92768","command":"calc.exe","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":740,"y":140,"wires":[[],[],[]]},{"id":"754876d7.2b5078","type":"throttle","z":"c6a69a12.f92768","name":"","throttleType":"time","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":550,"y":200,"wires":[["cf6b04cd.a88778"]]},{"id":"cf6b04cd.a88778","type":"exec","z":"c6a69a12.f92768","command":"C:\\xampp\\htdocs\\AnotherMaker\\StreamArray\\scripts\\subscribe.cmd","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Sub to AnotherMaker","x":780,"y":200,"wires":[[],[],[]]},{"id":"51d1577a.ad9038","type":"throttle","z":"c6a69a12.f92768","name":"","throttleType":"time","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":550,"y":260,"wires":[["3ffc335a.b3a98c"]]},{"id":"3ffc335a.b3a98c","type":"exec","z":"c6a69a12.f92768","command":"wscript C:\\xampp\\htdocs\\AnotherMaker\\StreamArray\\scripts\\dangerous.vbs","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Dangerous VB Script","x":780,"y":260,"wires":[[],[],[]]},{"id":"8a1b1313.ec6c1","type":"serial-port","z":"","serialport":"COM28","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]
