quack-attack/quack-attack-node-red.json
[{"id":"ecba572f.22bbf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6646e55f.9f89ec","type":"debug","z":"ecba572f.22bbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":250,"y":660,"wires":[]},{"id":"8054f52c.2bb6e8","type":"function","z":"ecba572f.22bbf8","name":"Game Setup","func":"var ducks = [0,1,2,3,4];//5 ducks!\nvar chosen = [0,0,0,0,0];//placeholder to figure out which duck is active\nglobal.set(\"stop\",0);\nglobal.set(\"ducks\",ducks);\nglobal.set(\"chosen\",chosen);\nglobal.set(\"started\",false);\nglobal.set(\"gameTime\",60) ;  //In seconds\nglobal.set(\"score\",0); //how many targets have been hit\nglobal.set(\"shown\",0); //how many targets have been shown\n// these variables would be used if you want a target to timeout\n// global.set(\"timeout\",global.get(\"gameTime\"));//when should we give up on the target?\n// global.set(\"targetTime\",3); //The max amount of time to activate a target in seconds\n// global.set(\"currentTime\", 0); //current time on the clock\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["1393a06f.30443","b684d5b.ae6d628"]]},{"id":"67340702.e594a8","type":"ui_text","z":"ecba572f.22bbf8","group":"ba007694.9a4348","order":1,"width":"9","height":"2","name":"Current Time","label":"Timer","format":"  <font size=\"+75\">{{msg.payload}}","layout":"col-center","x":830,"y":460,"wires":[]},{"id":"8e9580d4.5b6d2","type":"switch","z":"ecba572f.22bbf8","name":"Timer Switch Statement","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"stop","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":260,"wires":[["b6620b2d.f3e7d8"],["7f781427.ac61ec"]]},{"id":"ac866e8a.a2b4e","type":"function","z":"ecba572f.22bbf8","name":"Reset Function","func":"msg.reset = true;\nvar stop = global.set(\"stop\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":460,"wires":[["45474f19.1d242"]]},{"id":"65f07090.612f7","type":"inject","z":"ecba572f.22bbf8","name":"Reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":70,"y":200,"wires":[["7cf18b18.b89f04"]]},{"id":"45474f19.1d242","type":"function","z":"ecba572f.22bbf8","name":"Reset Final","func":"var newMsg = { payload: msg.payload.length };\n\nmath = 0;\n\nnewMsg.payload = math;\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["67340702.e594a8"]]},{"id":"b6620b2d.f3e7d8","type":"function","z":"ecba572f.22bbf8","name":"Major Math Going on Here","func":"var newMsg = { payload: msg.payload.length };\nvar time = global.get(\"currentTime\");  \nvar major = global.get(\"majors\");\nvar minor = global.get(\"minors\");\nvar stop = global.get(\"stop\");\nvar time = time * 1; //force to number\nvar major = 30 * major;\nvar minor = 10 * minor;\nvar math = time + major + minor;\nvar  h = 0;\nvar  m = 0;\nvar  s = 0;\nvar  t = math;\n  \ns = t % 60;\nt = (t - s)/60;\nm = t % 60;\nt = (t - m)/60;\nh = t;\nmath = h+\"h \"+m+\"m \"+s+\"s\";\n\nnewMsg.payload = math;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":960,"y":260,"wires":[[]]},{"id":"7ae50f14.05802","type":"inject","z":"ecba572f.22bbf8","name":"StartTimer","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":80,"y":80,"wires":[["8054f52c.2bb6e8"]]},{"id":"5ca60d20.e63874","type":"looptimer","z":"ecba572f.22bbf8","duration":".5","units":"Second","maxloops":"99999999","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":380,"y":200,"wires":[["3796cc24.742374"],[]]},{"id":"3796cc24.742374","type":"counter","z":"ecba572f.22bbf8","name":"","init":"0","step":".5","lower":"","upper":"","mode":"increment","outputs":"1","x":580,"y":200,"wires":[["1e36faea.ede5f5"]]},{"id":"1e36faea.ede5f5","type":"function","z":"ecba572f.22bbf8","name":"getCount","func":"var newMsg = {payload:msg.count};\nvar timer = newMsg.payload;\nvar time = global.set(\"currentTime\", timer); \nreturn newMsg;","outputs":1,"noerr":0,"x":760,"y":200,"wires":[["8e9580d4.5b6d2","797daafe.b12814"]]},{"id":"e226e997.2b7028","type":"inject","z":"ecba572f.22bbf8","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":70,"y":160,"wires":[["5ca60d20.e63874","7910ef11.ce393"]]},{"id":"8ecb26e6.27cc28","type":"function","z":"ecba572f.22bbf8","name":"Reset Time","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["3796cc24.742374"]]},{"id":"7f781427.ac61ec","type":"function","z":"ecba572f.22bbf8","name":"forceTWO","func":"var time = msg.payload;\nmsg.payload = (Math.floor(time*100)/100).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":300,"wires":[["67340702.e594a8"]]},{"id":"7910ef11.ce393","type":"function","z":"ecba572f.22bbf8","name":"stop","func":"var stop = global.get('stop'); //make sure the game hasn't stopped\nif(stop === 0){\nvar ducks = global.get(\"ducks\"); //get our ducks and leds\nvar leds  = global.get(\"leds\");\nvar chosen = global.get(\"chosen\");\nfor (var i = 0; i < chosen.length-1; i++) {\n  chosen[i] =  0; //set every duck back to 0\n}\nvar random = getRandomInt(0, ducks.length-1); //chose a random duck\nchosen[random] = 1;\nglobal.set(\"chosen\",chosen); //save this globally\n\nmsg.payload = random;\nreturn msg;\n}\n\nfunction getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["8e9580d4.5b6d2"]]},{"id":"797daafe.b12814","type":"function","z":"ecba572f.22bbf8","name":"Stop the Counter (Game Over)","func":"var endTime = global.get('gameTime') ;  //In seconds\n\nif(msg.payload >= endTime){\n    global.set('stop',1);\n    msg.payload = \"stop\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1030,"y":200,"wires":[["5ca60d20.e63874","ccecb7f4.aedc38"]]},{"id":"45a4b68c.4e41d8","type":"ui_text","z":"ecba572f.22bbf8","group":"ba007694.9a4348","order":1,"width":"9","height":"3","name":"Score","label":"Score","format":"  <font size=\"+75\">{{msg.payload}}","layout":"col-center","x":850,"y":600,"wires":[]},{"id":"8d5b3763.770f98","type":"function","z":"ecba572f.22bbf8","name":"Set Score","func":"// if(global.get(\"stop\") === 0){ //don't look for input if the game has been stopped!\n// var score = global.get('score');    //how many targets have been hit\n// score = score + msg.payload;\n// global.set('score',score);\n// msg.payload = score;\n// return msg;\n// }\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":620,"wires":[["45a4b68c.4e41d8","4bd436ad.9db5e8"]]},{"id":"f10e6873.f20d18","type":"change","z":"ecba572f.22bbf8","name":"Set Zeros","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":380,"wires":[["458b93ef.62d40c"]]},{"id":"ecae9522.0b39a8","type":"ui_text","z":"ecba572f.22bbf8","group":"ba007694.9a4348","order":1,"width":"9","height":"3","name":"Targets Shown","label":"Targets Shown","format":"  <font size=\"+75\">{{msg.payload}}","layout":"col-center","x":900,"y":640,"wires":[]},{"id":"4bd436ad.9db5e8","type":"function","z":"ecba572f.22bbf8","name":"Show Another Target","func":"var stop = global.get('stop'); //make sure the game hasn't stopped\nif(stop === 0){\nvar ducks = global.get(\"ducks\"); //get our ducks and leds\n\n\n//set every duck back to 0\nvar chosen = global.get(\"chosen\");\nfor (var i = 0; i < chosen.length-1; i++) {\n  chosen[i] =  0; \n}\n\nvar random = getRandomInt(0, ducks.length-1); //chose a random duck\nchosen[random] = 1;\nglobal.set(\"chosen\",chosen); //save this globally\n\n//if you want to allow targets to \"timeout\", this would come in handy\n//you would also need to enable these variables in the setup node\n// var gameTime = global.get(\"gameTime\");//how long is the game?\n// var currentTime = global.get(\"currentTime\"); //what time is on the clock\n// var targetTime = global.get(\"targetTime\");//how long should a target be displayed\n\n// var timeout = 0; //when the target should deactivate\n// if(currentTime + targetTime >= gameTime){\n//     timeout = gameTime;\n// }else{\n//     timeout = currentTime + targetTime;\n// }\n// global.set(\"timeout\",timeout);\n\n\n// //for diagnostic purposes\n// msg.currentTime = currentTime;\n// msg.targetTime = targetTime;\n// msg.gameTime = gameTime;\n// msg.timeout = timeout;\nmsg.target = random;\n\nreturn msg;\n}\n\nfunction getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n","outputs":1,"noerr":0,"x":1140,"y":860,"wires":[["52035dc4.b971f4","77b6b484.d466ac","ccecb7f4.aedc38"]]},{"id":"d7926756.530598","type":"function","z":"ecba572f.22bbf8","name":"Play hit sound","func":"var hit = parseInt(msg.payload);\nvar gameData = global.get('gameData');\nvar mp3 = gameData[hit][2];\nmsg.payload = 'c:\\\\xampp\\\\htdocs\\\\mosquitto\\\\sounds\\\\'+mp3;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":700,"wires":[[]]},{"id":"1737f958.15fc17","type":"ui_button","z":"ecba572f.22bbf8","name":"","group":"ba007694.9a4348","order":7,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":70,"y":240,"wires":[["7cf18b18.b89f04"]]},{"id":"bd3c82fb.75bcd","type":"ui_button","z":"ecba572f.22bbf8","name":"","group":"ba007694.9a4348","order":7,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":70,"y":120,"wires":[["7910ef11.ce393","5ca60d20.e63874"]]},{"id":"4dd7b9d0.6b56d8","type":"ui_button","z":"ecba572f.22bbf8","name":"","group":"ba007694.9a4348","order":7,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":40,"wires":[["8054f52c.2bb6e8"]]},{"id":"7cf18b18.b89f04","type":"link out","z":"ecba572f.22bbf8","name":"To reset","links":["5843d2d3.73ad3c"],"x":155,"y":220,"wires":[]},{"id":"5843d2d3.73ad3c","type":"link in","z":"ecba572f.22bbf8","name":"","links":["7cf18b18.b89f04"],"x":115,"y":440,"wires":[["f10e6873.f20d18","8ecb26e6.27cc28","ac866e8a.a2b4e","cda19759.ae44a8"]]},{"id":"1393a06f.30443","type":"delay","z":"ecba572f.22bbf8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":80,"wires":[["5c88642f.53de8c","5ca60d20.e63874"]]},{"id":"5c88642f.53de8c","type":"link out","z":"ecba572f.22bbf8","name":"Show another target","links":["ee578142.aa6db"],"x":675,"y":80,"wires":[]},{"id":"ee578142.aa6db","type":"link in","z":"ecba572f.22bbf8","name":"","links":["5c88642f.53de8c"],"x":115,"y":660,"wires":[["8d5b3763.770f98","6646e55f.9f89ec"]]},{"id":"458b93ef.62d40c","type":"link out","z":"ecba572f.22bbf8","name":"Zeroes","links":["f58d2cbc.ad4aa"],"x":520,"y":380,"wires":[]},{"id":"f58d2cbc.ad4aa","type":"link in","z":"ecba572f.22bbf8","name":"","links":["458b93ef.62d40c"],"x":635,"y":620,"wires":[["45a4b68c.4e41d8","ecae9522.0b39a8"]]},{"id":"52035dc4.b971f4","type":"debug","z":"ecba572f.22bbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":920,"wires":[]},{"id":"eab7b29a.8868b","type":"ui_button","z":"ecba572f.22bbf8","d":true,"name":"","group":"ba007694.9a4348","order":6,"width":0,"height":0,"passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":70,"y":920,"wires":[["ab4d0f1e.1117c"]]},{"id":"937c6057.fe2a7","type":"comment","z":"ecba572f.22bbf8","name":"Sample Hit Buttons","info":"","x":110,"y":800,"wires":[]},{"id":"4fafe26d.7868dc","type":"ui_button","z":"ecba572f.22bbf8","d":true,"name":"","group":"ba007694.9a4348","order":6,"width":0,"height":0,"passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":70,"y":960,"wires":[["ab4d0f1e.1117c"]]},{"id":"42be5920.07a1d8","type":"ui_button","z":"ecba572f.22bbf8","d":true,"name":"","group":"ba007694.9a4348","order":6,"width":0,"height":0,"passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":70,"y":1000,"wires":[["ab4d0f1e.1117c"]]},{"id":"bba1d155.b2d3e","type":"ui_button","z":"ecba572f.22bbf8","d":true,"name":"","group":"ba007694.9a4348","order":6,"width":0,"height":0,"passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":70,"y":840,"wires":[["ab4d0f1e.1117c"]]},{"id":"9e32fece.bbe14","type":"ui_button","z":"ecba572f.22bbf8","d":true,"name":"","group":"ba007694.9a4348","order":6,"width":0,"height":0,"passthru":false,"label":"1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":70,"y":880,"wires":[["ab4d0f1e.1117c"]]},{"id":"ab4d0f1e.1117c","type":"function","z":"ecba572f.22bbf8","name":"Process Input","func":"var stop = global.get(\"stop\");\nmsg.rec = msg.payload; //what did we receive?\nif(stop === 0){\n    var chosen = global.get(\"chosen\");\n    if(chosen[msg.payload] == 1){\n        msg.payload = 1;\n    }else{\n        msg.payload = -1;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":940,"wires":[["992d6359.0be2d","f8313794.aa5448"]]},{"id":"992d6359.0be2d","type":"debug","z":"ecba572f.22bbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":860,"wires":[]},{"id":"f8313794.aa5448","type":"switch","z":"ecba572f.22bbf8","name":"Score Processing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"x","vt":"str"},{"t":"eq","v":"-1","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":830,"y":940,"wires":[[],["30b66716.117d48"],["30b66716.117d48","4bd436ad.9db5e8","7a1aa22d.c709cc"]]},{"id":"cda19759.ae44a8","type":"function","z":"ecba572f.22bbf8","name":"Start at 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":500,"wires":[[]]},{"id":"77b6b484.d466ac","type":"function","z":"ecba572f.22bbf8","name":"Update Shown","func":"var shown = global.get(\"shown\");\nshown = shown + 1;\nglobal.set(\"shown\",shown);\nmsg.payload = shown;\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":700,"wires":[["ecae9522.0b39a8"]]},{"id":"30b66716.117d48","type":"function","z":"ecba572f.22bbf8","name":"Update Score","func":"var oldscore = global.get(\"score\");\nmsg.oldscore = oldscore;\nmsg.payload = msg.payload + oldscore;\nglobal.set(\"score\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":680,"wires":[["45a4b68c.4e41d8","ee312e60.6091f"]]},{"id":"ee312e60.6091f","type":"debug","z":"ecba572f.22bbf8","name":"score","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":700,"wires":[]},{"id":"233f7212.26cc2e","type":"rpi-gpio in","z":"ecba572f.22bbf8","name":"Duck 0 - Pin 3","pin":"3","intype":"up","debounce":"50","read":false,"x":90,"y":1040,"wires":[["5db68053.c6af8"]]},{"id":"44d36003.998f1","type":"rpi-gpio in","z":"ecba572f.22bbf8","name":"Duck 1 - Pin 5","pin":"5","intype":"up","debounce":"50","read":false,"x":90,"y":1100,"wires":[["a40695bf.69a698"]]},{"id":"263f15bb.cbefaa","type":"rpi-gpio in","z":"ecba572f.22bbf8","name":"Duck 2 - Pin 7","pin":"7","intype":"up","debounce":"50","read":false,"x":90,"y":1160,"wires":[["cf7d731f.c4716"]]},{"id":"81f6096c.e3f728","type":"rpi-gpio in","z":"ecba572f.22bbf8","name":"Duck 3 - Pin 11","pin":"11","intype":"up","debounce":"50","read":false,"x":100,"y":1220,"wires":[["4a5a4a51.1f8b64"]]},{"id":"e9085a8f.37be58","type":"rpi-gpio in","z":"ecba572f.22bbf8","name":"Duck 4 - Pin 15","pin":"15","intype":"up","debounce":"50","read":false,"x":100,"y":1280,"wires":[["2897ed97.6fe242"]]},{"id":"5db68053.c6af8","type":"switch","z":"ecba572f.22bbf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1040,"wires":[["ab4d0f1e.1117c"],[]]},{"id":"a40695bf.69a698","type":"switch","z":"ecba572f.22bbf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1080,"wires":[["8270ce3c.10659"],[]]},{"id":"8270ce3c.10659","type":"change","z":"ecba572f.22bbf8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1080,"wires":[["ab4d0f1e.1117c"]]},{"id":"cf7d731f.c4716","type":"switch","z":"ecba572f.22bbf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1120,"wires":[["2e252551.3eefba"],[]]},{"id":"2e252551.3eefba","type":"change","z":"ecba572f.22bbf8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1120,"wires":[["ab4d0f1e.1117c"]]},{"id":"4a5a4a51.1f8b64","type":"switch","z":"ecba572f.22bbf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1160,"wires":[["b9746a59.05bea8"],[]]},{"id":"b9746a59.05bea8","type":"change","z":"ecba572f.22bbf8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1160,"wires":[["ab4d0f1e.1117c"]]},{"id":"2897ed97.6fe242","type":"switch","z":"ecba572f.22bbf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1200,"wires":[["eb250fa6.4db1e"],[]]},{"id":"eb250fa6.4db1e","type":"change","z":"ecba572f.22bbf8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1200,"wires":[["ab4d0f1e.1117c"]]},{"id":"8bb2bd4b.4ffe1","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 0 LED - Pin 8","pin":"8","set":true,"level":"0","freq":"","out":"out","x":1630,"y":780,"wires":[]},{"id":"ccecb7f4.aedc38","type":"change","z":"ecba572f.22bbf8","name":"Turn off all lights","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":840,"wires":[["8bb2bd4b.4ffe1","4ba053d8.7b7c7c","2b056931.697016","ebbb618b.b537","9ca30911.5bb848","2dbd5e6f.86cd12"]]},{"id":"4ba053d8.7b7c7c","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 1 LED - Pin 10","pin":"10","set":true,"level":"0","freq":"","out":"out","x":1640,"y":820,"wires":[]},{"id":"2b056931.697016","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 2 LED - Pin 12","pin":"12","set":true,"level":"0","freq":"","out":"out","x":1640,"y":860,"wires":[]},{"id":"ebbb618b.b537","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 3 LED - Pin 16","pin":"16","set":true,"level":"0","freq":"","out":"out","x":1640,"y":900,"wires":[]},{"id":"9ca30911.5bb848","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 4 LED - Pin 18","pin":"18","set":true,"level":"0","freq":"","out":"out","x":1640,"y":940,"wires":[]},{"id":"2dbd5e6f.86cd12","type":"delay","z":"ecba572f.22bbf8","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1610,"y":980,"wires":[["53b8d01c.f3b22"]]},{"id":"6ce9963b.6a3358","type":"switch","z":"ecba572f.22bbf8","name":"Turn on target light","property":"target","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":1370,"y":1080,"wires":[["4be9424b.847fbc"],["164373ff.fef91c"],["1f810285.36babd"],["8b0db106.147b8"],["642eafe1.e07d5"]]},{"id":"4be9424b.847fbc","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 0 LED - Pin 8","pin":"8","set":true,"level":"0","freq":"","out":"out","x":1650,"y":1040,"wires":[]},{"id":"164373ff.fef91c","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 1 LED - Pin 10","pin":"10","set":true,"level":"0","freq":"","out":"out","x":1660,"y":1080,"wires":[]},{"id":"1f810285.36babd","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 2 LED - Pin 12","pin":"12","set":true,"level":"0","freq":"","out":"out","x":1660,"y":1120,"wires":[]},{"id":"8b0db106.147b8","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 3 LED - Pin 16","pin":"16","set":true,"level":"0","freq":"","out":"out","x":1660,"y":1160,"wires":[]},{"id":"642eafe1.e07d5","type":"rpi-gpio out","z":"ecba572f.22bbf8","name":"Duck 4 LED - Pin 18","pin":"18","set":true,"level":"0","freq":"","out":"out","x":1660,"y":1200,"wires":[]},{"id":"53b8d01c.f3b22","type":"change","z":"ecba572f.22bbf8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1080,"wires":[["6ce9963b.6a3358","1e1e4752.ef1449"]]},{"id":"a08188eb.07cb28","type":"comment","z":"ecba572f.22bbf8","name":"Duck LEDs","info":"","x":1420,"y":920,"wires":[]},{"id":"d692f2.0ccd8d1","type":"comment","z":"ecba572f.22bbf8","name":"Scoreboard","info":"","x":790,"y":740,"wires":[]},{"id":"abf8b107.e5ba4","type":"comment","z":"ecba572f.22bbf8","name":"Reset Global Variables and Scoreboard","info":"","x":530,"y":420,"wires":[]},{"id":"f001d7c0.245268","type":"comment","z":"ecba572f.22bbf8","name":"Counter","info":"","x":610,"y":300,"wires":[]},{"id":"8b948028.d49f4","type":"http request","z":"ecba572f.22bbf8","name":"Splat Sound","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.95.198/shop/sound.php?sound=splat","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":1360,"wires":[["a9130339.d7b57"]]},{"id":"a9130339.d7b57","type":"http response","z":"ecba572f.22bbf8","name":"","statusCode":"","headers":{},"x":1090,"y":1360,"wires":[]},{"id":"b684d5b.ae6d628","type":"ui_template","z":"ecba572f.22bbf8","group":"ba007694.9a4348","name":"","order":11,"width":0,"height":0,"format":"<!--<style>-->\n<!--body.nr-dashboard-theme md-content{background-image: url(\"http://192.168.95.198/shop/quackattack.jpg\"); !important}*/-->\n<!-- body.nr-dashboard-theme md-content{-->\n<!--     background-color:black !important;-->\n<!--     text-align:center !important;-->\n     \n<!-- }-->\n\n<!--body.nr-dashboard-theme md-toolbar {-->\n<!--     background-color:red !important;-->\n<!--}-->\n<!--.nr-dashboard-cardtitle ng-binding ng-scope{-->\n<!--    text-align:center !important;-->\n<!--}-->\n\n<!--.label {-->\n<!--    font-size: 2.2em !important;-->\n<!--    text-align:center !important;-->\n<!--}-->\n\n<!--.nr-dashboard-text p {-->\n<!--    margin: 0 !important;-->\n<!--    padding: 0 !important;-->\n<!--}-->\n\n<!--.nr-dashboard-cardpanel {-->\n<!--    margin-bottom: -3em !important;-->\n<!--}-->\n<!-- </style>-->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":840,"y":100,"wires":[[]]},{"id":"30a5a6a3.1a3a3a","type":"http request","z":"ecba572f.22bbf8","name":"Quack Sound","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.95.198/shop/sound.php?sound=quack","tls":"","persist":false,"proxy":"","authType":"","x":1340,"y":1360,"wires":[["2b85518c.b5a53e"]]},{"id":"2b85518c.b5a53e","type":"http response","z":"ecba572f.22bbf8","name":"","statusCode":"","headers":{},"x":1490,"y":1360,"wires":[]},{"id":"1e1e4752.ef1449","type":"exec","z":"ecba572f.22bbf8","command":"sudo mpg123 /home/dietpi/quack.mp3","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Play QUACK MP3","x":1310,"y":1280,"wires":[[],[],[]]},{"id":"7a1aa22d.c709cc","type":"exec","z":"ecba572f.22bbf8","command":"sudo mpg123 /home/dietpi/splat.mp3","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Play SPLAT MP3","x":950,"y":1280,"wires":[[],[],[]]},{"id":"ba007694.9a4348","type":"ui_group","z":"","name":"Scoreboard","tab":"73c41f5b.9bc7f","disp":true,"width":"9","collapse":false},{"id":"73c41f5b.9bc7f","type":"ui_tab","z":"","name":"QUACK ATTACK!!!!!!!!!","icon":"dashboard","disabled":false,"hidden":true}]
